In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('aluguel.csv',sep=';')

df

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [3]:
df['Valor'].describe().round(2)

count    3.294300e+04
mean     1.295266e+04
std      6.675220e+05
min      7.500000e+01
25%      1.500000e+03
50%      2.800000e+03
75%      6.500000e+03
max      1.200000e+08
Name: Valor, dtype: float64

In [4]:
df['Valor'].aggregate(['min', 'max', 'sum'])

min           75.0
max    120000000.0
sum    426699469.0
Name: Valor, dtype: float64

In [6]:
df['Valor'].aggregate(['min', 'max', 'sum']).rename(columns = {'min': 'Mínimo', 'max': 'Máximo'})

TypeError: rename() got an unexpected keyword argument 'columns'

In [9]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
plt.rc('figure', figsize = (20,10))

In [12]:
fig = df['Valor'].std().plot.bar(color = 'blue')

AttributeError: 'numpy.float64' object has no attribute 'plot'

In [13]:
fig = df['Valor'].mean().plot.bar(color = 'blue')
fig.set_ylabel('Valor do Aluguel')
fig.set_title('Valor Médio do Aluguel por Bairro', {'fontsize': 22})

AttributeError: 'numpy.float64' object has no attribute 'plot'